body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: black;
}
section {
  background-color: white;
}

legend {
  color: white;
  text-align: center;
  text-transform: uppercase;
  display: table;
  min-width: 0px;
  max-width: 30%;
  position: relative;
  margin: auto;
  padding: 10px 10px 0px 0px;
  font-size: 20px;
  font-weight: 500;
}

fieldset {
  color: white;
  display: block;
  margin-top: 5%;
  margin-bottom: 3%;
  padding: 3% 3% 3% 3%;
  border: 2px solid #b29966;
  box-shadow: 1px 1px 1px #b29966;
  width: 55%;

}

form > input {
  padding-right: 100px;
}

.resize {
  padding:0px;
  max-width: 1280px;
}
.welcome {
  position: relative;
  background-image: url("../assets/backgrounds/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 790px;
  margin: 0px;
  padding: 0px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 44px 0px 0px 59px;

}

.right-side {
  display:flex;
  padding-top: 3px;

}

.nav-bar > .right-side > div {
  margin-right: 60px;
  text-transform:capitalize;
  font-size: 0.995em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid white;
  color: black;
}

.nav-link-wrapper a:hover {
  color: white;
}

.main-heading {
  background-color: transparent;
  text-align:center;
  padding-top: 175px;
  padding-bottom: 200px;
}

.heading-text {
  color: white;
  font-size: 3.795em;
  /*font-stretch:semi-expanded; */
}

.heading-sub {
  color: white;
  font-size: 1.55em;
  padding-top: 50px;
}

.scroll-down {
    position: relative;
    margin: 0px 625px 0px 625px;
}

/* Products list bar */
.product-list-bar {
  padding:47px 0px 20px 80px;
  background-color: #b29966;
  height:140px;
  width:100%;
  font-weight: bold;
}

.button-style {
  margin-left: 625px;
  background-color: #800000;
  color: white;
  border: 1px solid #800000;
  padding:10px 35px 10px 35px;
  font-size: 0.775em;
  font-weight: 500;
  height:50px;
}

.button-style:hover {
  background-color: #c70039;
  border: 1px solid #c70039;
  color: white;
}

/* Product items styling */
.product-items-container {
  margin: 0px 75px 0px 75px;
  padding:50px 0px 50px 0px;

}

.product-spacer {
  margin: 60px 35px 0px 60px;
  padding: 20px 0px 5px 20px;
  min-width: 25%;
}

.product-cat-bar {

  padding: 40px 0px 40px 0px;
}

.product-cat-bar-title {
  padding-top: 8px;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 2px;
}
/* Card styling */
.card-title {
  /* display: flex;
  margin:0px 15px 13px 15px;
}

.card-body {
  /* margin: 0px 40px 0px 40px; */
}

.item-footer {
  display: flex;
}

.item-name {
  text-align: left;
  text-transform: uppercase;
  width: 75%;
  color: #b29966;
}

.item-price {
  text-align: right;
}

.item-spacer {
  margin: 10% 5% 10% 5%;
}

/* About styling */
.about {
  background-image: url("../assets/backgrounds/about.jpg");
  background-repeat: no-repeat;
  background-size: c;
  padding-top: 1px;
  width: 100%;
  height:402px;
}

.about-text {
  padding: 0px 85px 5px 85px;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.8em;
  color: white;

}

/* Twitter promo bar */
.promo-bar {
  display: flex;
  background-color: #545454;
  color: white;
  padding: 25px 15px 5px 75px;

}
.promo-text {
  padding-left: 20px;
  margin-left: 5px;
  font-size: 1.25em;
}

/* Footer */

footer {
  color: white;
  background-color: #222;
  padding: 50px 0px 20px 75px;
}
.copy {
  text-transform: uppercase;
  padding-top: 30px;
  text-align: center;
  font-size: 0.85em;
}

.mission-statement {
  text-transform: uppercase;
  font-size: 0.9em;
  line-height: 2.3em;
}

.mission-section {
  padding-top: 55px;
}

.slogan-text {
  font-size: 1.4em;
  font-weight: 500;
}

.mini-nav {
  display: flex;
  padding-top: 100px;
}

.mini-nav-link {
  margin-right: 4px;
  padding: 0px 0px 8px 0px;
  text-transform: uppercase;

}

.mini-nav-link a {
  text-decoration: none;
  color: white;
  font-size: .870em;
  font-weight: 500;
}

.foot-img {
  padding: 20px 0px 10px 0px;
}

.text-center {
  text-align: center;
  font-size: 1.45em;
}
